POSTGRES_DB=plv
POSTGRES_USER=plv
POSTGRES_PASSWORD=plv
AUTH_USERNAME=admin
# docker run -it --rm jseifeddine/plv hash PasswordSecureNotReally
AUTH_PASSWORD_HASH='$2a$10$pBhw53WSmDFqyd3gIEdmB.UDHSvxSgYMRxeMrOgqcbuu2Vvvjhuci'
